In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import export_graphviz
from xgboost import XGBClassifier

%matplotlib inline

XGBoostError: XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed (vcomp140.dll or libgomp-1.dll for Windows, libomp.dylib for Mac OSX, libgomp.so for Linux and other UNIX-like OSes). Mac OSX users: Run `brew install libomp` to install OpenMP runtime.
  * You are running 32-bit Python on a 64-bit OS
Error message(s): ['dlopen(/Users/yuebingzheng/opt/anaconda3/envs/yanhuaenv/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib\n  Referenced from: /Users/yuebingzheng/opt/anaconda3/envs/yanhuaenv/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib\n  Reason: image not found']

In [4]:
data= pd.read_csv('Demographic_Data.csv')
data.head()

   in-store  age  items   amount  region
0         0   37      4   281.03       2
1         0   35      2   219.51       2
2         1   45      3  1525.70       4
3         1   46      3   715.25       3
4         1   33      4  1937.50       1

In [5]:
data.head()

   in-store  age  items   amount  region
0         0   37      4   281.03       2
1         0   35      2   219.51       2
2         1   45      3  1525.70       4
3         1   46      3   715.25       3
4         1   33      4  1937.50       1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   in-store  80000 non-null  int64
 1   age       80000 non-null  int64
 2   items     80000 non-null  int64
 3   amount    80000 non-null  float64
 4   region    80000 non-null  int64
dtypes: float64(1), int64(4)
memory usage: 3.1 MB

In [7]:
data.describe()

           in-store           age         items        amount        region
count  80000.000000  80000.000000  80000.000000  80000.000000  80000.000000
mean       0.500000     45.757925      4.504975    835.919670      2.675000
std        0.500003     15.715679      2.061238    721.273736      1.126672
min        0.000000     18.000000      1.000000      5.004700      1.000000
25%        0.000000     33.000000      3.000000    285.140000      2.000000
50%        0.500000     45.000000      4.000000    582.315000      3.000000
75%        1.000000     56.000000      6.000000   1233.700000      4.000000
max        1.000000     85.000000      8.000000   3000.000000      4.000000

In [8]:
X=data.drop(columns=['amount'])
print('Summary of feature sample')
X.head()

Summary of feature sample

   in-store  age  items  region
0         0   37      4       2
1         0   35      2       2
2         1   45      3       4
3         1   46      3       3
4         1   33      4       1

In [9]:
y=pd.qcut(data['amount'],q=3)

In [10]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
y = labelencoder.fit_transform(y)

In [11]:
print(y)

[0 0 2 ... 1 0 1]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

In [13]:
algo=RandomForestClassifier(n_estimators=50, random_state=123)
model=algo.fit(X,y)

In [14]:
preds=model.predict(X_test)

In [15]:
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

           0       0.72      0.58      0.64      7915
           1       0.54      0.47      0.50      8007
           2       0.64      0.84      0.73      8078

    accuracy                           0.63     24000
   macro avg       0.63      0.63      0.62     24000
weighted avg       0.63      0.63      0.62     24000

In [16]:
from sklearn.tree import export_graphviz
import pydotplus
from sklearn import tree

In [17]:
algo1=XGBClassifier(max_depth=3)
model1 = algo.fit(X_train, y_train)
preds = model.predict(X_test)
fig = plt.figure(dpi=180)
ax = plt.subplot(1,1,1)
plot_tree(model1, num_trees=0, ax=ax)
plt.tight_layout()
plt.savefig("tree_structure.pdf")
plt.show()

NameError: name 'XGBClassifier' is not defined